{% extends 'layout.html' %}

{% block title %}
    Головна
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Місто-Село</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <ul class="navbar-nav mr-auto">
          <form class="form-inline  " action="">
            <input class="form-control mr-sm-2" type="search" placeholder="Звідки" aria-label="Звідки">
               <input class="form-control mr-sm-2" type="search" placeholder="Куди" aria-label="Куди">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Знайти</button>
          </form>
      </ul>
  <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Кабінет
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'accounts:create_box' %}">Створити заявку</a>
              <a class="dropdown-item" href="#">Переглянути мої</a>
              <a class="dropdown-item" href="{% url 'accounts:logout' %}">Вихід</a>
            </div>
          </li>

      </ul>

  </div>

</nav>

<div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Project One</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
          <a class="btn btn-primary" href="#">View Project</a>
        </div>
      </div>
{% endblock %}
